/____ignr/

/bg/____max/

/bg/bg01/*
/bg/bg02/*
/bg/bg04/*
/bg/bg05/*
/bg/bg07/*
/bg/bg08/*
/bg/bg09/*
/bg/bg13/*
/bg/bg14/*
/bg/bg15/*
/bg/bg16/*
/bg/bg17/*
/bg/bg18/*
/bg/bg29/*
!/bg/*/BgmList.txt


/BattleRes/
/ScreenShot/
/Replay/
/movie/
/grpdat/
/exe/
/sv/
/Shader/

/se/*
!/se/normal_se_list.txt

/___ModComp/
/___NotProject/
/__________ogf/
/BattleRes/
/script/btl_Define_LocalDebug.txt
transmission.log
monitor_input.bin
monitor_misc.bin