/____ignr/
/BattleRes/
/ScreenShot/
/Replay/
/movie/
/grpdat/
/exe/
/sv/
/Shader/
/se/
/___ModComp/
/___NotProject/
/__________ogf/
/BattleRes/
/script/btl_Define_LocalDebug.txt
transmission.log
monitor_input.bin
monitor_misc.bin